
# exclude everything except personal directories
/*
!.gitignore
!/data
!/flaskr
!/ipynb
!/load_magic
!/ps1
!/py
!/saves
!/sh
!/tests
!Dockerfile
!README.md
!environment.yml
!jupyter_notebook_config.py
!workspace.json

# Ignore whole folders
**/.git/
data/secrets/

# Ignore whole file types
*.mp3
*.bin
*-checkpoint.*
*.bak

# Exclude Mac, Jupyter, R, and Octave admin files
**/octave-workspace
**/.ipynb_checkpoints/
**/__pycache__/
**/.Rproj.user/
saves/mp3/AI The Coming Thresholds and The Path We Must Take  Internationally Acclaimed Cognitive Scientist.webm
saves/txt/A_Courageous_Response_to_the_Theological_Challenge_of_AI_transcript.txt
saves/xml/notepad_session.xml
saves/txt/left.txt
saves/txt/right.txt
